.carousel {
  display: flex;
  height: 779px;
  width: 100%;
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}

.carousel_card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.card_image {
  width: 100%;
  object-fit:fill;
}

.card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}

button {
  color: white;
  background-color: transparent;
  color: aqua;
  border: solid 3px;
  border-color: aqua;
  border-radius: 10px;
  font-size: 50px;
  padding: 20px;
  align-items: center;
  justify-items: center;
  text-align: center;

}

.carousel_arrow_left,
.carousel_arrow_right {
  position: absolute;
  font-size: 50px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
  border: solid 2px;
  border-radius: 80%;
  padding-bottom: 8px;
  cursor: pointer;
}

.carousel_arrow_left {
  left: 15px;
}

.carousel_arrow_right {
  right: 15px;
}

.carousel_pagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination_dot {
  height: 15px;
  width: 15px;
  border: solid 2.5px goldenrod;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  color: goldenrod;
  border-color: goldenrod;
}

.pagination_dot:hover {
  transform: scale(1.2);
}

.pagination_dot-active {
  background-color: aqua;
}


@media screen and (max-width: 720px) {

  .carousel {
    display: flex;
    height: 480px;

     
  }

  button {
    font-size: 25px;
    padding: 10px;
    margin-left: 100%;
  }

}