  .backGround{
    background-color: black;
    height: 1080px;
    width: 100%;
  }
  .errorImage {
    position: relative;
    width: 100%;
  }
  
  .errorImage  {
    width: 100%;
    height: 100%;
  }
  
  .homeButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 40px;
    padding: 12px 24px;
    border: white solid;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .errorImage .homeButton:hover {
    background-color: black;
    font-size: 50px;
  }